

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
/* Content Styling */
.hcontent {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    margin-top: 50px;
}

/* Center the fieldset with a width of 500px */
fieldset {
    background-color: #553f05;
    border: none;
    padding: 20px;
    margin: 20px auto;
    /* Center the fieldset horizontally */
    border-radius: 10px;
    width: 500px;
    text-align: center;
}

/* Legend Styling */
legend {
    font-weight: bold;
    font-size: 20px;
    color: #f1efd3;
    text-align: center;
}

/* Labels styling */
label {
    font-weight: bold;
}

/* Style for text and password inputs */
input[type="text"],
input[type="password"] {
    background-color: #ffe4b2;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    padding: 8px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
}

/* Button Container */
.button-container {
    text-align: center;
    /* Center align the buttons horizontally */
}



/* Style for proceed and resret buttons */
button[type="submit"],
button[type="reset"] {
    background-color: #ee9b0b;
    color: #0b0707;
    width: 160px;
    height: 40px;
    margin: 15px 30px;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
}

/* Hover effect on the buttons */
button[type="submit"]:hover,
button[type="reset"]:hover {
    background-color: #f3e70d;
    color: #000;
}

/* @keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
} */

/* Responsive styles (for screens 768px and below) */
@media (max-width: 768px) {
    .general-layout {
        padding: 10px;
    }

    fieldset {
        padding: 15px;
        width: 100%;
    }

    /* Adjusted padding for text and password inputs */
    input[type="text"],
    input[type="password"] {
        padding: 8px;
    }

    legend {
        font-size: 18px;
    }
}

@keyframes popup {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        transform: translateY(-10px);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 0;
    }
}


.footer {
    margin-top: 20px;
    position: relative;
    width: 100%;
    background: #000000;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/* CSS for the chart container and the SVG canvas */
#chart-container {
    width: 700px;
    margin: 20px auto;
    background-color: #f9f9f9;
    border: 1px solid #0b0303;
    padding: 30px;
    box-shadow: 0 0 10px rgba(185, 26, 26, 0.1);
    margin-bottom: 70px;
}

#bar-chart {
    /* width: 100%; */
    max-width: 700px;
    margin: auto;
    height: 500px;
    display: block;
    font-family: 'Arial', sans-serif;
}

/* CSS for the bars on mouseover */
rect:hover {
    fill: #ffa500;
    cursor: pointer;
}

/* CSS for the tooltip */
.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: rgb(5, 95, 211);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}

/* Adding classes for axis labels */
/* .axis-label {
    font-size: 12px;
    fill: #0f0101;
} */

/* Styling the axis lines */
/* .axis path,
.axis line {
    fill: none;
    stroke: #190202;
    shape-rendering: crispEdges;
} */

/* .axis text {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #1a0202;
} */